.l-wrapper{
	width:100vw;
	height:100vh;
	background:linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('../img/back.jpg') no-repeat center center;
	background-size:cover;
	display: table-cell;
    vertical-align: middle;
}

.l-content{
	max-width:$cnt;
	margin:0 auto;
	padding:rhythm(5);
	animation-duration: 0.5s;
	animation-timing-function:ease-in-out;
	animation-fill-mode: both;
	animation-name:fadeIn;
	animation-delay:0.5s;
	@media (max-width: 26em) {
		padding:rhythm(4);
	}
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
